<!--This is the home page of the Book Manager website-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Book Manager Home Page</title>
    </head>
    <body>
        <h1>Book Manager</h1>
        <p>This website helps manages <strong>books</strong></p>
        <img src="../static/images/books-on-shelves-in-bookstore.webp" alt="Picture of book on shelves in bookstore">
        <br>
        <a href="isnert_book.html">Insert new book</a>
        <br>
        <a href="delete_book.html">Delete book</a>
    </body>
</html>